html{
  background-image: url("bck1.png");
  background-color: #ffffff;
  background-repeat: repeat; /* Do not repeat the image */
  background-size: 6%;

}
.aboutInfo{
  color: #90929D;
}
img {
  width: 200px;
  height: 300px;
}
